<h1> Add a new route:</h1>

<% if @route.errors.any? %>
  <div id="error_explanation">
    <h2>
      Please fix <%= pluralize(@route.errors.count, "error") %> to create a new route:
    </h2>

    <ul>
    <% @route.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render 'form' %>
